{% extends 'LandingPage/base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <h1>B A T A L</h1>
        <a href="{% url 'landingpage:landingpage-index' %}">
            <button class="btn btn-primary btn-lg">Kembali Ke Halaman Awal</button>
        </a>
    </div>
    <div class="col-lg-3">

    </div>
</div>

{% endblock %}
