<br>
<br>
<br>
<!--
<footer id="footer">
    <div class="container-fluid">
    <div class="row" style="text-align: center">
        <div class="col-lg-12">
            <p>Power by
                <a href="http://saltis.id">Saltis</a>
            </p>
        </div>
    </div>
</div>
</footer>
-->
<proit onclick="window.open('http://proit.co.id/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Power by ProIt&nbsp;&nbsp;
</proit>
