{% extends 'LandingPage/base.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div class="jumbotron">
            <img class="img-fluid d-block mx-auto" src="{% static "assets/images/lambang_polda_metro_jaya.png" %}" height="1">
            <h1 class="display-4">SENTRA PELAYANAN KEPOLISIAN TERPADU</h1>
            <hr class="my-4">
            <p>
            <a href="{% url 'laporankehilanganuser:laporankehilanganuser-create' %}"><button class="btn btn-primary btn-lg">Laporan Kehilangan</button></a>
            <a href="{% url 'laporankasususer:laporankasususer-create' %}"><button class="btn btn-primary btn-lg">Laporan Kasus</button></a>
            </p>    
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>

{% endblock %}
