{% extends 'LaporanKasus/base.html' %}
{% load static %}
{% load qr_code %}
{% block content %}
        <div class="page-header">
            <div class="row" style="text-align: center;">
                <div class="col-lg-12">
                    <h1>{% if object.is_approved %}
                        Approved
                        {% else %}
                        Draft
                        {% endif %}
                        Laporan Kasus</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="bs-docs-section">
             <div class="row">
                <div class="col-lg-3">
                    <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;">
                        
                        <div class="card-header" style="text-align: center">
                        {% if object.is_valid %}
                            <span class="badge badge-success">Valid</span>
                        {% else %}
                            <span class="badge badge-danger">Invalid</span>
                        {% endif%}
                        {% if object.is_approved %}
                            <span class="badge badge-success">Approved</span>
                        {% else %}
                            <span class="badge badge-warning">Draft</span>
                        {% endif%}
                        QR Code<h1>{{ object.hash_field }}</h1></div>
                        <div class="card-body" style="padding: 0rem">
                        {% qr_from_text object.id size="M" %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">

                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body">
                            <p>
                                Dengan ini saya:
                          </p>
                            <table>
                                <tr>
                                    <td>Nama</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.nama|upper }}</td>
                                </tr>
                                <!-- Tempat dan Tanggal Lahir -->
                                <tr>
                                    <td>Tempat tanggal lahir</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.tempat_lahir|upper }}, {{ object.tanggal_lahir|date:"d F Y"|upper }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jenis kelamin</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.kelamin|upper }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>WargaNegara/Suku/Agama</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{% if object.kebangsaan|upper != "WNA" %} 
                                        INDONESIA {% else %} ASING {% endif %} 
                                        / 
                                        {{ object.agama|upper }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pekerjaan</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.pekerjaan|upper }}
                                    </td>
                                </tr>
                                <!-- Alamat -->
                                <tr>
                                    <td>Alamat</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.alamat|upper }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>{{ object.kota|upper }}</td>
                                </tr>
                                <tr>
                                    <td>Telp/Fax/Email</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.nomor_telpon }} / {{ object.email|upper }}</td>
                                </tr>
                            </table>
        
                            <br>
        
                            <p>
                                    Peristiwa Yang Dilaporkan:
                            </p>
                            <table>
                                <tr>
                                    <td>1.</td>
                                    <td>Perkara</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.perkara|upper }}</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Waktu Kejadian</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.waktu_kejadian|date:"d F Y H:i"|upper }}</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Tempat Kejadian</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.tempat_kejadian|upper }}</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Terlapor</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.terlapor|upper }}</td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Korban</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.korban|upper }}</td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td>Saksi-saksi</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.saksi|upper }}</td>
                                </tr>
                                <tr>
                                    <td>7.</td>
                                    <td>Kerugian</td>
                                    <td>&nbsp;:&nbsp;</td>
                                    <td>{{ object.kerugian|upper }}</td>
                                </tr>        
                            </table>
        
        
                        </div>
                    </div> <!-- Card -->
<br>

<form action="{% url 'laporankasus:laporankasus-save' %}" method="post">
{% csrf_token %}
    <input type="hidden" name="id_id" value="{{ object.id }}">
    <input type="hidden" name="id_nama" value="{{ object.nama }}">
    <input type="hidden" name="id_nama" value="{{ object.nama }}">
    <input type="hidden" name="id_tempat_lahir" value="{{ object.tempat_lahir }}">
    <input type="hidden" name="id_tanggal_lahir" value="{{ object.tanggal_lahir }}">
    <input type="hidden" name="id_kelamin" value="{{ object.kelamin }}">
    <input type="hidden" name="id_agama" value="{{ object.agama }}">    
    <input type="hidden" name="id_pekerjaan" value="{{ object.pekerjaan }}">    
    <input type="hidden" name="id_kebangsaan" value="{{ object.kebangsaan }}">    
    <input type="hidden" name="id_alamat" value="{{ object.alamat }}">    
    <input type="hidden" name="id_kota" value="{{ object.kota }}">    
    <input type="hidden" name="id_nomor_telpon" value="{{ object.nomor_telpon }}">    
    <input type="hidden" name="id_email" value="{{ object.email }}">
    <!-- Specific Fields -->
    <input type="hidden" name="id_perkara" value="{{ object.perkara }}">    
    <input type="hidden" name="id_waktu_kejadian" value="{{ object.waktu_kejadian }}">    
    <input type="hidden" name="id_tempat_kejadian" value="{{ object.tempat_kejadian }}">    
    <input type="hidden" name="id_terlapor" value="{{ object.terlapor }}">
    <input type="hidden" name="id_korban" value="{{ object.korban }}">    
    <input type="hidden" name="id_saksi" value="{{ object.saksi }}">
    <input type="hidden" name="id_kerugian" value="{{ object.kerugian }}">
   
    <!-- entry -->
    <fieldset>
    <div class="form-group">
        <label for="id_pembuat_laporan">Kepala SPKT/Atas Nama</label>
        <input type="text" name="id_pembuat_laporan" class="form-control" placeholder="Kepala SPKT atau Atas Nama">
    </div>
    <div class="form-group">
        <label for="id_pangkat_pembuat_laporan">Pangkat Atas Nama</label>
        <input type="text" name="id_pangkat_pembuat_laporan" class="form-control" placeholder="Pangkat Atas Nama">
    </div>
    <div class="form-group">
        <label for="id_jabatan">Jabatan</label>
        <input type="text" name="id_jabatan" class="form-control" placeholder="KA. SIAGA I/II/III">
    </div>
    <div class="form-group">
        <label for="id_nama_penerima_laporan">Penerima/Pembuat Laporan</label>
        <input type="text" name="id_nama_penerima_laporan" class="form-control" placeholder="Penerima/Pembuat Laporan">
    </div>
    <div class="form-group">
        <label for="id_pangkat_penerima_laporan">Pangkat Penerima/Pembuat Laporan</label>
        <input type="text" name="id_pangkat_penerima_laporan" class="form-control" placeholder="Pangkat Penerima/Pembuat Laporan">
    </div>
    </fieldset>
    <div class="form-group">
        <label for="id_lokasi_pelaporan">Lokasi Pelaporan</label>
        <input type="text" name="id_lokasi_pelaporan" class="form-control" placeholder="SPKT/MPP/POLSEK/POLRES">
    </div>
    <div class="form-group">
        <label for="id_direktorat">Direktorat</label>
        <!--
            <input type="text" name="id_lokasi_pelaporan" class="form-control" placeholder="SPKT/MPP/POLSEK/POLRES">
        -->
        <select name="id_direktorat" class="form-control" placeholder="Dit. Reskrimum/Reskrimsus/Resnarkoba">
            {% for direktorat in direktorats %}
                <option value="{{ direktorat.id }}">{{ direktorat.deskripsi }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="id_pasal_perkara">Pasal Perkara</label>
        <input type="text" name="id_pasal_perkara" class="form-control" placeholder="Pasal berhubungan dengan Perkara">
    </div>
    <div class="form-group">
        <label for="id_barang_bukti">Barang Bukti</label>
        <textarea name="id_barang_bukti" id="id_barang_bukti" class="form-control" rows="8" placeholder="Daftar barang bukti"></textarea>
    </div>
    <div class="form-group">
        <label for="id_uraian_singkat_kejadian">Uraian Singkat Kejadian</label>
        <textarea name="id_uraian_singkat_kejadian" id="id_uraian_singkat_kejadian" class="form-control" rows="8" placeholder="Uraian kejadian silakan di uraikan disini"></textarea>
    </div>


<div id="pernyataan">
        <h3>Konfirmasi:</h3>
        <label for="agree" class="form-check-label">
            <input id="agree" class="form-check-input" type="checkbox" value="agree" v-model="checked" title="Klik Saya Jika Data sudah benar">
            <h6>Dengan ini saya memastikan informasi yang ada sudah benar adanya.</h6>
        </label>
        <br>
        <br>
        <br>

<button type="submit" class="btn btn-success" :disabled="!checked">Proses Lebih Lanjut</button></a>
<!--<a href="{% url 'laporankasus:laporankasususer-update' object.id %}"><button type="submit" class="btn btn-info">Sunting</button></a>-->
</form>
</div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Development Package of Vue
    <script src="http://vuejs.org/js/vue.js" type="text/javascript"></script>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" type="text/javascript"></script>
-->
    <script src="{% static "assets/js/bundle.js" %}" type="text/javascript"></script>
{% endblock %}

