{% extends 'LaporanKasusUser/base.html' %} {% load static %} {% block content %}
<div class="page-header">
    <div class="row" style="text-align: center;">
        <div class="col-lg-12">
            <h1>Draft Laporan Kasus</h1>
        </div>
    </div>
</div>
<br>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-3">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Kartu Informasi</div>
                <div class="card-body">
                    <h4 class="card-title">Draft Laporan Kasus</h4>
                    <p class="card-text">Lorem Ipsum...</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">

            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <p>
                        Dengan ini saya:
                  </p>
                    <table>
                        <tr>
                            <td>Nama</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.nama|upper }}</td>
                        </tr>
                        <!-- Tempat dan Tanggal Lahir -->
                        <tr>
                            <td>Tempat tanggal lahir</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.tempat_lahir|upper }}, {{ object.tanggal_lahir|date:"d F Y"|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td>Jenis kelamin</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.kelamin|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td>WargaNegara/Suku/Agama</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{% if object.kebangsaan|upper != "WNA" %} 
                                INDONESIA {% else %} ASING {% endif %} 
                                / 
                                {{ object.agama|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td>Pekerjaan</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.pekerjaan|upper }}
                            </td>
                        </tr>
                        <!-- Alamat -->
                        <tr>
                            <td>Alamat</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.alamat|upper }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>{{ object.kota|upper }}</td>
                        </tr>
                        <tr>
                            <td>Telp/Fax/Email</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.nomor_telpon }} / {{ object.email|upper }}</td>
                        </tr>
                    </table>

                    <br>

                    <p>
                            Peristiwa Yang Dilaporkan:
                    </p>
                    <table>
                        <tr>
                            <td>1.</td>
                            <td>Perkara</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.perkara|upper }}</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Waktu Kejadian</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.waktu_kejadian|date:"d F Y H:i"|upper }}</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Tempat Kejadian</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.tempat_kejadian|upper }}</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Terlapor</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.terlapor|upper }}</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Korban</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.korban|upper }}</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>Saksi-saksi</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.saksi|upper }}</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>Kerugian</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>{{ object.kerugian|upper }}</td>
                        </tr>        
                    </table>


                </div>
            </div>
            <!-- Card -->

            <br>
            <div id="pernyataan">
                <legend>Pernyataan:</legend>
                <label for="agree" class="form-check-label">
                    <input id="agree" class="form-check-input" type="checkbox" value="agree" v-model="checked" title="Klik Saya"> Dengan ini saya memastikan informasi yang saya berikan benar adanya.
                </label>
                <br>
                <br>
                <br>

                <a href="{% url 'laporankasususer:laporankasususer-confirm' object.id %}">
                    <button type="submit" class="btn btn-success btn-sm" :disabled="!checked">Kirim</button>
                </a>
                <a href="{% url 'laporankasususer:laporankasususer-update' object.id %}">
                    <button type="submit" class="btn btn-info btn-sm">Sunting</button>
                </a>
                <a href="{% url 'laporankasususer:laporankasususer-delete' object.id %}">
                    <button type="submit" class="btn btn-danger btn-sm">Batal</button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Development Package of Vue
    <script src="http://vuejs.org/js/vue.js" type="text/javascript"></script>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" type="text/javascript"></script>
-->
<script src="{% static "assets/js/bundle.js " %}" type="text/javascript"></script>
{% endblock %}