{% extends 'LaporanKasus/base.html' %}
{% load static %}
{% block content %}
        <div class="page-header">
            <div class="row" style="text-align: center;">
                <div class="col-lg-12">
                    <h1>Laporan Kasus</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="bs-docs-section">
            <div class="row">
                    <div class="col-lg-3">
                            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                                    <div class="card-header">Kartu Informasi</div>
                                    <div class="card-body">
                                        <h4 class="card-title">Laporan Kasus</h4>
                                        <p class="card-text">Laporan kasus percintaan</p>
                                    </div>
                            </div>
                    </div>
                

                    <div class="col-lg-9">
                        <div class="bs-component">
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="pernyataan" style="text-align: center">
        <label for="agree" class="form-check-label">
            <input id="agree" class="form-check-input" type="checkbox" value="agree" v-model="checked" title="Klik Saya">
            Klik kotak disamping untuk menyatakan data sudah benar.
        </label>
        <br>
        <br>
        <br>
        <p align="center">
        <button type="submit" class="btn btn-success btn-sm" :disabled="!checked">
            Kirim
        </button>
        </p>
    </div>
    </form>
                        </div>
                    </div>
                

            </div>
        </div>
    <!-- Code for vue.js -->
    <script src="{% static "assets/js/bundle.js" %}" type="text/javascript"></script>
{% endblock %}

