{% load static %}
{% load l10n %}
{% load bootstrap3 %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.APPNAME }}</title>
    {% bootstrap_css %}
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-lux.css" %">
    {% bootstrap_javascript %}
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
    <link rel="stylesheet" href="{% static "assets/css/jquery-ui.css" %}">    
    <link rel="stylesheet" href="{% static "assets/css/jquery-ui-timepicker-addon.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-datetimepicker.css" %}">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />-->
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script src="{% static "assets/js/jquery-ui.js" %}"></script>
    <script src="{% static "assets/js/vue.js" %}"></script>
    <script src="{% static "assets/js/jquery-ui-timepicker-addon.js" %}"></script>
    <!--<script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" type="text/javascript"></script>-->
    <!-- For TinyMCE
    <script type="text/javascript" src="{% static "tiny_mce/tiny_mce.js" %}"></script>
    {{ form.media }}
    -->
        <!-- Development Package of Vue
    <script src="http://vuejs.org/js/vue.js" type="text/javascript"></script>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" type="text/javascript"></script>
    -->
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-1 bg-primary">
                    <img class="d-block mx-auto img-fluid" src="{% static "assets/images/logo_polda_small.png" %}">
                </div>
                <div class="col-md-11 bg-primary">
                    <h1 class="text-light text-center p-2">SENTRA PELAYANAN KEPOLISIAN TERPADU</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <br>
        <br>
        <br>
        {% block content %}
        {% endblock %}

        {% include "LandingPage/footer.html" %}
    </div>
</body>
</html>
