{% extends 'LaporanKehilangan/base.landing.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div class="jumbotron">
            <img class="img-fluid d-block mx-auto" src="{% static "assets/images/lambang_polda_metro_jaya.png" %}" height="1">
            <h1 class="display-4">SENTRA PELAYANAN KEPOLISIAN TERPADU</h1>
            <hr class="my-4">
            <form method="post" action="{% url 'laporankasus:getlaporankasususer-detail' %}">
                    {% csrf_token %} 
                <fieldset>
                    <div class="form-group">
                        <h3>Masukan QR Code (Laporan Kasus)</h3>
                        <input class="form-control" type="text" id="qrcode-label" name="qrcode" placeholder="Masukan QR Code disini">
                        <br>
                        <button class="btn btn-primary" type="submit">Cari</button>
                    </div>
                </fieldset> 
            </form>    
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>

{% endblock %}
