{% extends 'LaporanKasus/base.continue.html' %} {% load static %} {% block content %}


<div class="container">
    <div id="vue_pembuat_laporan" class="row">
        <div class="col-lg-9">
            <page size="A4">
                <section class="sheet padding-15mm">

                    <div class="row">
                        <div class="col-lg-6" style="line-height: 1.25; text-align: center;">
                            <p class="spkt strong">POLRI DAERAH METRO JAYA</p>
                            <p class="spkt underline strong">
                                SENTRA PELAYANAN KEPOLISIAN TERPADU
                            </p>
                            <p class="spkt" style="text-align: left; padding-left: 15px; font-style: italic;">
                                "PRO JUSTITIA"
                            </p>
                        </div>
                        <div class="col-lg-6" style="line-height: 1.25; text-align: right;">
                            <p class="spkt strong">
                                Model: B
                            </p>
                        </div>
                    </div>
                    <br>
                    <p align="center">
                        <img height=50 src="{% static "assets/images/logo_tribrata_small.png" %}" align=center hspace=12 alt="Logo Tribrata">
                    </p>

                    <!--
                        <div class="row" style="text-align: center; line-height: 1.25;">
                        <div class="col-lg-12">
                        -->
                    <table align="center" style="line-height: 1.25;">
                        <tr style="text-align: center;"><td>
                        <p class="spkt strong">L A P O R A N&emsp;&emsp;P O L I S I</p>
                        </td></tr>
                        <tr><td style="border-top: 1px solid black;">
                        <p class="spkt">Nomor: &nbsp;{{ object.nomor_surat_text }}</p>
                        </td></tr>
                    </table>
                    <!--
                            </div>
                    </div>
                -->
                    <hr style="border-width: 2px; background-color: black; margin: 0px">
                    <p class="spkt">Yang Melaporkan</p>
                    <hr style="border-width: 1px; background-color: black; margin: 0px">
                    
                    <table style="line-height: 1;">
                        <!-- Nama -->
                        <tr>
                            <td>
                                <p class="spkt">Nama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.nama|upper }}</p>
                            </td>
                        </tr>
                        <!-- Tempat dan Tanggal Lahir -->
                        <tr>
                            <td>
                                <p class="spkt">Tempat tanggal lahir</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.tempat_lahir|upper }}, {{ object.tanggal_lahir|date:"d F Y "|upper }}</p>
                            </td>
                        </tr>
                        <!-- Kelamin -->
                        <tr>
                            <td>
                                <p class="spkt">Kelamin</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {% if object.kelamin|upper != "PEREMPUAN" %} LAKI-LAKI {% else %} PEREMPUAN {% endif %}
                                </p>
                            </td>
                        </tr>
                        <!--WN/Suku/Agama-->
                        <tr>
                            <td>
                                <p class="spkt">WN/Suku/Agama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                {% if object.kebangsaan|upper != "WNA" %} INDONESIA {% else %} ASING {% endif %}
                                &ensp;/&ensp;
                                {{ object.agama|upper }}</p>
                            </td>
                        </tr>
                        <!--Pekerjaan-->
                        <tr>
                            <td>
                                <p class="spkt">Pekerjaan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.pekerjaan|upper }}</p>
                            </td>
                        </tr>
                        <!--Alamat-->
                        <tr>
                            <td>
                                <p class="spkt">Alamat</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.alamat|upper }}</p>
                            </td>
                        </tr>
                        <!--Kota-->
                        <tr>
                            <td>
                                <!-- <p class="spkt">Kota</p> -->
                            </td>
                            <td>
                                <!-- <p class="spkt">&emsp;:&emsp;</p> -->
                            </td>
                            <td>
                                <p class="spkt">{{ object.kota|upper }}</p>
                            </td>
                        </tr>
                        <!--Telp/Fax/Email-->
                        <tr>
                            <td>
                                <p class="spkt">Telp/Fax/Email</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.nomor_telpon|upper }}
                                    &ensp;/&ensp;
                                    {{ object.email }}
                                </p>
                            </td>
                        </tr>
                        </table>
                        
                        <hr style="border-width: 2px; background-color: black; margin: 0px">
                        <p class="spkt">Peristiwa Yang Dilaporkan</p>
                        <hr style="border-width: 2px; background-color: black; margin: 0px">
                        
                        <table style="line-height: 1;">
                        <!--Waktu Kejadian-->
                        <tr>
                            <td>
                                <p class="spkt">1.&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Waktu Kejadian</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.waktu_kejadian | date:"l, d F Y" | upper}} SEKITAR PUKUL 
                                    {{ object.waktu_kejadian | date:"H:i" | upper }} WIB
                                </p>
                            </td>
                        </tr>
                        <!--Tempat Kejadian-->
                        <tr>
                            <td>
                                <p class="spkt">2.&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Tempat Kejadian</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.tempat_kejadian|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Perkara-->
                        <tr>
                            <td>
                                <p class="spkt">3.&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Apa Yang Terjadi</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.perkara|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Terlapor-->
                        <tr>
                            <td>
                                <p class="spkt">4.&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Terlapor</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.terlapor|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Korban-->
                        <tr>
                            <td>
                                <p class="spkt">5.&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Korban</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.korban|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Saksi-->
                        <tr>
                            <td>
                                <p class="spkt">6.&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Saksi-Saksi</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.saksi|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Waktu Pelaporan-->
                        <tr>
                            <td>
                                <p class="spkt">7.&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Waktu Dilaporkan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;&emsp;&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.waktu_pelaporan | date:"l, d F Y" | upper}} PUKUL 
                                    {{ object.waktu_pelaporan | date:"H:i" | upper }} WIB
                                </p>
                            </td>
                        </tr>
                    </table>

                    <hr style="border-width: 2px; background-color: black; margin: 0px">
                    <p class="spkt" style="text-align: center;">URAIAN SINGKAT KEJADIAN</p>
                    <hr style="border-width: 2px; background-color: black; margin: 0px">
                    <p class="spkt">
                    --------- {{ object.uraian_singkat_kejadian }} ---------
                    </p>
                    <hr style="border-width: 1px; background-color: black; margin: 0px">
                    <table width="90%" style="line-height: 1;">
                        <tr>
                            <td>
                                <p class="spkt">
                                Pelapor atau Pengadu memberikan keterangan
                                </p>
                                <br>
                                <p class="spkt">
                                Kemudian membubuhkan tanda tangan.
                                </p>
                                <br>
                                <br>
                            </td>
                            <td style="text-align: center;">
                                <p class="spkt">
                                    PELAPOR
                                </p>
                                <br>
                                <br>
                                <br>
                                <br>
                                <p class="spkt">
                                    {{ object.nama|upper }}
                                </p>    

                            </td>
                        </tr>
                    </table>

                    <hr style="border-width: 1px; background-color: black; margin: 0px">

                    <p class="spkt">Catatan Kepolisian :</p>
                    <table style="line-height: 1;">
                        <tr>
                            <td><p class="spkt">8.&emsp;</p></td>
                            <td><p class="spkt">Tindakan yang diambil :</p></td>
                        </tr>
                        <tr>
                            <td><!--nothing--></td>
                            <td><p class="spkt">a. Membuat Laporan Polisi</p></td>
                        </tr>
                        <tr>
                            <td><!--nothing--></td>
                            <td><p class="spkt">b. Membuat Tanda Bukti Lapor</p></td>
                        </tr>
                        <tr>
                            <td><!--nothing--></td>
                            <td><p class="spkt">c. Membuat Visum Et Repertum</p></td>
                        </tr>
                        <tr>
                            <td><p class="spkt">9.&emsp;</p></td>
                            <td>
                                <p class="spkt">Tindak Pidana Apa/Pasal :
                                {{ object.perkara|upper}} / {{ object.pasal_perkara|upper}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="spkt">10.&emsp;</p></td>
                            <td>
                                <p class="spkt">
                                    Barang Bukti :  
                                </p>
                            </td>
                        </tr>
                        </table>

                    <br>
                    <br>

                    <table style="line-height: 1.25" width="100%">
                        <col width="40%">
                        <col width="60%">
                        <tr align="center">
                            <td valign="bottom"><p class="spkt">PELAPOR</p></td>
                            <td valign="bottom">
                                <p class="spkt">Jakarta, {% now "d F Y " %}</p>
                                <p class="spkt">a.n. KEPALA SENTRA PELAYANAN KEPOLISIAN TERPADU</p>
                                <p class="spkt">POLDA METRO JAYA</p>
                                <p class="spkt">{{ object.jabatan|upper }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height: 20pt">
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                            <td>
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                        </tr>
                        <tr align="center">
                            <td><p class="spkt">{{ object.nama|upper }}</p></td>
                            <td>
                                <p class="spkt underline">{{ object.pembuat_laporan|upper }}</p>
                                <p class="spkt">{{ object.pangkat_pembuat_laporan|upper }}</p>
                            </td>
                        </tr>
                        </table>
                                                
                </section>

            </page>
        </div>

        
        <div class="col-lg-3 ">
            <div class="card text-white bg-primary mb-3 " style="max-width: 20rem; ">
                <div class="card-header ">Siap Cetak</div>
                <div class="card-title "></div>
                <div class="card-body ">
                    <button type="button " class="btn btn-success ">Cetak Sekarang</button>
                </div>
            </div>
        </div>

        <div class="col-lg-9">
            <page size="A4">
                <section class="sheet padding-15mm">

                    <div class="row">
                        <div class="col-lg-6" style="line-height: 1.25; text-align: center;">
                            <p class="spkt strong">POLRI DAERAH METRO JAYA</p>
                            <p class="spkt underline strong">
                                SENTRA PELAYANAN KEPOLISIAN TERPADU
                            </p>
                        </div>
                        <div class="col-lg-6" style="line-height: 1.25; text-align: right;">
                            <p class="spkt strong">Model: {{ object.model_laporan | upper }}</p>
                        </div>
                    </div>
                    <br>
                    <p align="center">
                        <img height=50 src="{% static "assets/images/logo_tribrata_small.png" %}" align=center hspace=12 alt="Logo Tribrata">
                    </p>

                    <table align="center" style="line-height: 1.25;">
                        <tr style="text-align: center;"><td>
                        <p class="spkt strong">TANDA BUKTI LAPORAN</p>
                        </td></tr>
                        <tr><td style="border-top: 1px solid black;">
                        <p class="spkt">Nomor: &nbsp;{{ object.nomor_surat_text }}</p>
                        </td></tr>
                    </table>

                    <br>
                    <p class="spkt">
                        Berdasarkan Laporan Polisi Nomor: LP/XXX/XXX/XXX/{{ object.lokasi_pelaporan }}/Dit. Reskrimum,
                        Tanggal {% now "d F Y" %} dengan ini menerangkan bahwa: 
                    </p>
                    <br>
                    <table style="line-height: 1.25;">
                        <!-- Nama -->
                        <tr>
                            <td>
                                <p class="spkt">1&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Nama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.nama|upper }}</p>
                            </td>
                        </tr>
                        <!-- Tempat dan Tanggal Lahir -->
                        <tr>
                            <td>
                                <p class="spkt">2&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Tempat tanggal lahir</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.tempat_lahir|upper }}, {{ object.tanggal_lahir|date:"d F Y "|upper }}</p>
                            </td>
                        </tr>
                        <!-- Kelamin -->
                        <tr>
                            <td>
                                <p class="spkt">3&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Kelamin</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {% if object.kelamin|upper != "PEREMPUAN" %} LAKI-LAKI {% else %} PEREMPUAN {% endif %}
                                </p>
                            </td>
                        </tr>
                        <!--WN/Suku/Agama-->
                        <tr>
                            <td>
                                <p class="spkt">4&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">WN/Suku/Agama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                {% if object.kebangsaan|upper != "WNA" %} INDONESIA {% else %} ASING {% endif %}
                                &ensp;/&ensp;
                                {{ object.agama|upper }}</p>
                            </td>
                        </tr>
                        <!--Pekerjaan-->
                        <tr>
                            <td>
                                <p class="spkt">5&emsp;</p>
                            </td>                            
                            <td>
                                <p class="spkt">Pekerjaan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.pekerjaan|upper }}</p>
                            </td>
                        </tr>
                        <!--Alamat-->
                        <tr>
                            <td>
                                <p class="spkt">6&emsp;</p>
                            </td>  
                            <td>
                                <p class="spkt">Alamat</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.alamat|upper }}</p>
                            </td>
                        </tr>
                        <!--Kota-->
                        <tr>
                            <td>
                                <!-- <p class="spkt">Kota</p> -->
                            </td>
                            <td>
                                <!-- <p class="spkt">Kota</p> -->
                            </td>
                            <td>
                                <!-- <p class="spkt">&emsp;:&emsp;</p> -->
                            </td>
                            <td>
                                <p class="spkt">{{ object.kota|upper }}</p>
                            </td>
                        </tr>
                        <!--Telp/Fax/Email-->
                        <tr>
                            <td>
                                <p class="spkt">7&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Telp/Fax/Email</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.nomor_telpon|upper }}
                                    &ensp;/&ensp;
                                    {{ object.email }}
                                </p>
                            </td>
                        </tr>
                        <!--Melaporkan Di-->
                        <tr>
                            <td>
                                <p class="spkt">8&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Telah Melaporkan Di</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.lokasi_pelaporan|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Perkara-->
                        <tr>
                            <td>
                                <p class="spkt">9&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Perkara</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.perkara|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Waktu Kejadian-->
                        <tr>
                            <td>
                                <p class="spkt">10&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Waktu Kejadian</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.waktu_kejadian | date:"l, d F Y" | upper}} SEKITAR PUKUL 
                                    {{ object.waktu_kejadian | date:"H:i" | upper }} WIB
                                </p>
                            </td>
                        </tr>
                        <!--Tempat Kejadian-->
                        <tr>
                            <td>
                                <p class="spkt">11&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Tempat Kejadian</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.tempat_kejadian|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Terlapor-->
                        <tr>
                            <td>
                                <p class="spkt">12&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Terlapor</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.terlapor|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Korban-->
                        <tr>
                            <td>
                                <p class="spkt">13&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Korban</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.korban|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Saksi-->
                        <tr>
                            <td>
                                <p class="spkt">14&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Saksi</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.saksi|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Kerugian-->
                        <tr>
                            <td>
                                <p class="spkt">15&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Kerugian</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.kerugian|upper }}
                                </p>
                            </td>
                        </tr>
                        <!--Waktu Pelaporan-->
                        <tr>
                            <td>
                                <p class="spkt">16&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">Waktu Dilaporkan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">
                                    {{ object.waktu_pelaporan | date:"l, d F Y" | upper}} PUKUL 
                                    {{ object.waktu_pelaporan | date:"H:i" | upper }} WIB
                                </p>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <p class="spkt">
                        Telah melaporkan Tindak Pidana
                    </p>

                    <br>
                    <br>

                    <div style="text-align: center;">
                    <p class="spkt strong">
                        -- {{ object.perkara|upper }} --
                    </p>
                    <p class="spkt strong">
                        -- {{ object.pasal_perkara|upper }} --
                    </p>
                    </div>                    

                    <br>
                    <br>

                    <table style="line-height: 1.25" width="100%">
                        <col width="40%">
                        <col width="60%">
                        <tr align="center">
                            <td valign="bottom"><p class="spkt">PELAPOR</p></td>
                            <td valign="bottom">
                                <p class="spkt">Jakarta, {% now "d F Y " %}</p>
                                <p class="spkt">a.n. KEPALA SENTRA PELAYANAN KEPOLISIAN TERPADU</p>
                                <p class="spkt">POLDA METRO JAYA</p>
                                <p class="spkt">{{ object.jabatan|upper }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height: 20pt">
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                            <td>
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                        </tr>
                        <tr align="center">
                            <td><p class="spkt">{{ object.nama|upper }}</p></td>
                            <td>
                                <p class="spkt underline">{{ object.pembuat_laporan|upper }}</p>
                                <p class="spkt">{{ object.pangkat_pembuat_laporan|upper }}</p>
                            </td>
                        </tr>
                        </table>
                    
                    <br>
                    <br>
                    <p class="spkt">
                        Catatan:
                    </p>
                    <p class="spkt">
                        Informasi perkembangan penyidikan dapat diketahui melalui
                    </p>
                    <p class="spkt">
                        - No. Telepon Binopsnal Dit.Reskrimun: 021-5234240
                    </p>
                            
                </section>

            </page>
        </div>

    </div>
</div>

<script src="{% static "assets/js/bundle.js" %}" type="text/javascript"></script>

{% endblock content %}