{% load static %}
{% load l10n %}
{% load bootstrap3 %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.APPNAME }}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container" style="text-align: center">
        {% block content %}
        {% endblock %}

        {% include "LandingPage/footer.html" %}
    </div>
</body>
</html>
