{% extends 'LaporanKehilangan/base.continue.html' %} {% load static %} {% block content %}
{% load core_filters %}
{% load core_tags %}
<form action="{% url 'laporankehilangan:laporankehilangan-save' %}" method="post">
{% csrf_token %}
<div class="container">
    <div id="vue_pembuat_laporan" class="row">
        <div class="col-lg-9">
            <page size="A4">
                <section class="sheet padding-15mm">

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-6" style="line-height: 1.25;">
                            <p class="spkt strong">POLRI DAERAH METRO JAYA</p>
                            <p class="spkt underline strong">
                                SENTRA PELAYANAN KEPOLISIAN TERPADU
                            </p>
                        </div>
                    </div>
                    <br>
                    <p align="center">
                        <img height=50 src="{% static "assets/images/logo_tribrata_small.png" %}" align=center hspace=12 alt="Logo Tribrata">
                    </p>

                    <div class="row" style="text-align: center ">
                        <div class="col-lg-12 " style="line-height: 1.25; ">
                            <p class="spkt strong">SURAT TANDA PENERIMAAN LAPORAN</p>
                            <p class="spkt underline strong">KEHILANGAN/KERUSAKAN SURAT/BARANG</p>
                            {% now "n" as current_month %}
                            <p class="spkt">
                            Nomor: &nbsp;
                            {% nomorsuratLaporanKehilangan %}
                            &nbsp;/&nbsp;
                            B
                            &nbsp;/&nbsp;
                            {{ current_month|roman_number }}
                            &nbsp;/&nbsp;
                            {% now "Y" %}
                            &nbsp;/&nbsp;
                            [[ vue_lokasi_pelaporan.toUpperCase() ]]
                            &nbsp;/&nbsp;
                            SPKT
                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="id_uuid" value="{{ object.id }}">
                    <input type="hidden" name="id_hash_field" value="{{ object.hash_field }}">
                    
                    <!-- User Fields-->
                    <input type="hidden" name="id_nama" value="{{ object.nama }}">
                    <input type="hidden" name="id_tempat_lahir" value="{{ object.tempat_lahir }}">
                    <input type="hidden" name="id_tanggal_lahir" value="{{ object.tanggal_lahir|date:"Y-m-d" }}">
                    <input type="hidden" name="id_agama" value="{{ object.agama }}">
                    <input type="hidden" name="id_kelamin" value="{{ object.kelamin }}">
                    <input type="hidden" name="id_kebangsaan" value="{{ object.kebangsaan }}">
                    <input type="hidden" name="id_pekerjaan" value="{{ object.pekerjaan }}">
                    <input type="hidden" name="id_alamat" value="{{ object.alamat }}">
                    <input type="hidden" name="id_kota" value="{{ object.kota }}">
                    <input type="hidden" name="id_nomor_telpon" value="{{ object.nomor_telpon }}">
                    <input type="hidden" name="id_email" value="{{ object.email }}">
                    <input type="hidden" name="id_jenis_barang_hilang" value="{{ object.jenis_barang_hilang }}">
                    <input type="hidden" name="id_keterangan_kehilangan" value="{{ object.keterangan_kehilangan }}">
                    <input type="hidden" name="id_lokasi_kehilangan" value="{{ object.lokasi_kehilangan }}">
                    <input type="hidden" name="id_tanggal_kehilangan" value="{{ object.tanggal_kehilangan|date:"Y-m-d" }}">
                    <!-- Office Field -->
                    <!--
                    <input type="hidden" name="id_jabatan" value="[[ vue_jabatan ]]">
                    <input type="hidden" name="id_pembuat_laporan" value="[[ vue_pembuat_laporan ]]">
                    <input type="hidden" name="id_pangkat_pembuat_laporan" value="[[ vue_pangkat_pembuat_laporan ]]">
                    -->

                    <br>
                    <p class="spkt">
                        Yang bertandatangan dibawah ini, menerangkan bahwa pada {% now "l" %} 
                        tanggal {% now "d F Y" %}, pukul {% now "H:m T" %}, telah datang seorang 
                        {% if object.kelamin|upper != "PEREMPUAN" %} Laki-Laki {% else %} Perempuan {% endif %} Bangsa 
                        {% if object.kebangsaan|upper != "WNA" %} Indonesia {% else %} Asing {% endif %} mengaku bernama:
                    </p>
                    <br>
                    <table style="line-height: 1.25">
                        <!-- Nama -->
                        <tr>
                            <td>
                                <p class="spkt">Nama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.nama|upper }}</p>
                            </td>
                        </tr>
                        <!-- Tempat dan Tanggal Lahir -->
                        <tr>
                            <td>
                                <p class="spkt">Tempat tanggal lahir</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.tempat_lahir|upper }}, {{ object.tanggal_lahir|date:"d F Y "|upper }}</p>
                            </td>
                        </tr>
                        <!--Agama-->
                        <tr>
                            <td>
                                <p class="spkt">Agama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.agama|upper }}</p>
                            </td>
                        </tr>
                        <!--Pekerjaan-->
                        <tr>
                            <td>
                                <p class="spkt">Pekerjaan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.pekerjaan|upper }}</p>
                            </td>
                        </tr>
                        <!--Kebangsaan-->
                        <tr>
                            <td>
                                <p class="spkt">Kebangsaan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{% if object.kebangsaan != "WNA " %} INDONESIA {% else %} ASING {% endif %}</p>
                            </td>
                        </tr>
                        <!--Alamat-->
                        <tr>
                            <td>
                                <p class="spkt">Alamat</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.alamat|upper }}</p>
                            </td>
                        </tr>
                        <!--Kota-->
                        <tr>
                            <td>
                                <!-- <p class="spkt">Kota</p> -->
                            </td>
                            <td>
                                <!-- <p class="spkt">&emsp;:&emsp;</p> -->
                            </td>
                            <td>
                                <p class="spkt">{{ object.kota|upper }}</p>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <p class="spkt">
                        Melaporkan telah kehilangan surat / barang berupa:
                    </p>

                    <br>
                    
                    <p class="spkt">
                        Sebuah {{ object.jenis_barang_hilang|upper }}.
                    </p>
                    <p class="spkt" style="white-space: pre-line">
                        {{ object.keterangan_kehilangan|safe }}
                    </p>

                    <br>

                    <p class="spkt">
                        Terjadi pada tanggal {{ object.tanggal_kehilangan|date:"d F Y " }} di {{ object.lokasi_kehilangan }}, kerugian atas nama dan
                        alamat tersebut di atas.
                    </p>

                    <br>

                    <p class="spkt">
                            Demikian surat tanda penerimaan laporan/pengaduan tentang kehilangan barang/surat penting/berharga ini, dibuat untuk dapat
                            digunakan seperlunya. <span style="font-weight: bold;"> Surat Kehilangan ini Berlaku Selama {{ config.MASA_BERLAKU_NS }} Hari kerja, terhitung sejak
                                tanggal dikeluarkan.</span>
                    </p>

                    <br>
                    <br>

                    <table style="line-height: 1.25" width="100%">
                        <col width="40%">
                        <col width="60%">
                        <tr align="center">
                            <td valign="bottom"><p class="spkt">PELAPOR</p></td>
                            <td valign="bottom">
                                <p class="spkt">Jakarta, {% now "d F Y " %}</p>
                                <p class="spkt">a.n. KEPALA SENTRA PELAYANAN KEPOLISIAN TERPADU</p>
                                <p class="spkt">POLDA METRO JAYA</p>
                                <p class="spkt">[[ vue_jabatan.toUpperCase() ]]</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height: 20pt">
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                            <td>
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                        </tr>
                        <tr align="center">
                            <td><p class="spkt">{{ object.nama|upper }}</p></td>
                            <td>
                                <p class="spkt">[[ vue_nama_pembuat_laporan.toUpperCase() ]]</p>
                                <p class="spkt overline">[[ vue_pangkat_pembuat_laporan.toUpperCase() ]]</p>
                            </td>
                        </tr>
                        </table>
                    
                </section>

            </page>
        </div>
        <div class="col-lg-3 ">
            <div class="card text-white bg-primary mb-3 " style="max-width: 20rem; ">
                <div class="card-header ">Pembuat Laporan</div>
                <div class="card-title "></div>
                <div class="card-body ">
                        <input type="hidden" name="id_waktu_pelaporan" value="{% now "d-m-Y H:i:s" %}">
                        
                        <label>Lokasi Pelaporan</label>
                        <select name="id_lokasi_pelaporan" class="custom-select" v-model="vue_lokasi_pelaporan">
                                {% for name in lokasi %}
                                <option value="{{ name }}" {% if lokasi.kode == "PMJ" %} selected {% endif %}>{{ name }}</option>
                                {% endfor %}
                        </select>
                        <!--
                        <input style="padding: 1rem;" name="id_lokasi_pelaporan" class="form-control" v-model="vue_lokasi_pelaporan" placeholder="PMJ/MPP/POLRES/POLSEK">
                        -->
                        <br>
                        <br>
                        <label>Jabatan</label>
                        <input style="padding: 1rem;" name="id_jabatan" class="form-control" v-model="vue_jabatan" placeholder="Jabatan (KA.SIAGA)">
                        <br>
                        <label>Pembuat Laporan</label>
                        <input style="padding: 1rem;" name="id_pembuat_laporan" class="form-control" v-model="vue_nama_pembuat_laporan" placeholder="Pembuat Laporan">
                        <br>
                        <label>Pangkat / NRP</label>
                        <input style="padding: 1rem;" name="id_pangkat_pembuat_laporan" class="form-control" v-model="vue_pangkat_pembuat_laporan" placeholder="Pangkat/NRP">                        
                        
                        <label style="margin: 1.5rem">
                                <input class="form-check-input" type="checkbox" value="agree" v-model="vue_checked" title="Klik Saya">
                                Dengan ini saya memastikan informasi yang saya berikan benar adanya.
                        </label>
                        <br>
                    <button :disabled="!vue_checked" type="button " class="btn btn-success">Simpan dan Siap Cetak</button>
        </form>                    
                    <br>
                    <br>
                    <form action="{% url "laporankehilangan:laporankehilanganuser-update" object.id %}" method="">
                        <button type="button " class="btn btn-warning">&nbsp;&nbsp;Masih Perlu Sunting&nbsp;</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static "assets/js/bundle.js" %}" type="text/javascript"></script>

{% endblock content %}