{% extends 'LaporanKehilangan/base.continue.html' %} {% load static %} {% block content %}


{% csrf_token %}
<div class="container">
    <div id="vue_pembuat_laporan" class="row">
        <div class="col-lg-9">
            <page size="A4">
                <section class="sheet padding-15mm">

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-6" style="line-height: 1.25;">
                            <p class="spkt strong">POLRI DAERAH METRO JAYA</p>
                            <p class="spkt underline strong">
                                SENTRA PELAYANAN KEPOLISIAN TERPADU
                            </p>
                        </div>
                    </div>
                    <br>
                    <p align="center">
                        <img height=50 src="{% static "assets/images/logo_tribrata_small.png" %}" align=center hspace=12 alt="Logo Tribrata">
                    </p>

                    <table align="center" style="line-height: 1.25;">
                        <tr style="text-align: center;"><td>
                            <p class="spkt strong">SURAT TANDA PENERIMAAN LAPORAN</p>
                            <p class="spkt strong">KEHILANGAN/KERUSAKAN SURAT/BARANG</p>
                        </td></tr>
                        <tr><td style="border-top: 1px solid black;">
                            <p class="spkt">Nomor: &nbsp;{{ object.nomor_surat_text }}</p>
                        </td></tr>
                    </table>


                    <br>
                    <p class="spkt">
                        Yang bertandatangan dibawah ini, menerangkan bahwa pada {{ object.waktu_pelaporan|date:"l" }} 
                        tanggal {% now "d F Y" %}, pukul {% now "H:m T" %}, telah datang seorang 
                        {% if object.kelamin|upper != "PEREMPUAN" %} Laki-Laki {% else %} Perempuan {% endif %} Bangsa 
                        {% if object.kebangsaan|upper != "WNA" %} Indonesia {% else %} Asing {% endif %} mengaku bernama:
                    </p>
                    <br>
                    <table style="line-height: 1.25;">
                        <!-- Nama -->
                        <tr>
                            <td>
                                <p class="spkt">Nama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.nama|upper }}</p>
                            </td>
                        </tr>
                        <!-- Tempat dan Tanggal Lahir -->
                        <tr>
                            <td>
                                <p class="spkt">Tempat tanggal lahir</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.tempat_lahir|upper }}, {{ object.tanggal_lahir|date:"d F Y "|upper }}</p>
                            </td>
                        </tr>
                        <!--Agama-->
                        <tr>
                            <td>
                                <p class="spkt">Agama</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.agama|upper }}</p>
                            </td>
                        </tr>
                        <!--Pekerjaan-->
                        <tr>
                            <td>
                                <p class="spkt">Pekerjaan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.pekerjaan|upper }}</p>
                            </td>
                        </tr>
                        <!--Kebangsaan-->
                        <tr>
                            <td>
                                <p class="spkt">Kebangsaan</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{% if object.kebangsaan != "WNA " %} INDONESIA {% else %} ASING {% endif %}</p>
                            </td>
                        </tr>
                        <!--Alamat-->
                        <tr>
                            <td>
                                <p class="spkt">Alamat</p>
                            </td>
                            <td>
                                <p class="spkt">&emsp;:&emsp;</p>
                            </td>
                            <td>
                                <p class="spkt">{{ object.alamat|upper }}</p>
                            </td>
                        </tr>
                        <!--Kota-->
                        <tr>
                            <td>
                                <!-- <p class="spkt">Kota</p> -->
                            </td>
                            <td>
                                <!-- <p class="spkt">&emsp;:&emsp;</p> -->
                            </td>
                            <td>
                                <p class="spkt">{{ object.kota|upper }}</p>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <p class="spkt">
                        Melaporkan telah kehilangan surat / barang berupa:
                    </p>

                    <br>

                    <p class="spkt">
                        Sebuah {{ object.jenis_barang_hilang|upper }}.
                    </p>
                    <p class="spkt" style="white-space: pre-line;">
                        {{ object.keterangan_kehilangan|safe }}
                    </p>

                    <br>

                    <p class="spkt">
                        Terjadi pada tanggal {{ object.tanggal_kehilangan|date:"d F Y " }} di {{ object.lokasi_kehilangan }}, kerugian atas nama dan
                        alamat tersebut di atas.
                    </p>

                    <br>

                    <p class="spkt">
                            Demikian surat tanda penerimaan laporan/pengaduan tentang kehilangan barang/surat penting/berharga ini, dibuat untuk dapat
                            digunakan seperlunya. <span style="font-weight: bold;"> Kehilangan ini Berlaku Selama {{ config.MASA_BERLAKU_NS }} Hari kerja, terhitung sejak
                                tanggal dikeluarkan.</span>
                    </p>

                    <br>

                    <table style="line-height: 1.25" width="100%">
                        <col width="40%">
                        <col width="60%">
                        <tr align="center">
                            <td valign="bottom"><p class="spkt">PELAPOR</p></td>
                            <td valign="bottom">
                                <p class="spkt">Jakarta, {% now "d F Y " %}</p>
                                <p class="spkt">a.n. KEPALA SENTRA PELAYANAN KEPOLISIAN TERPADU</p>
                                <p class="spkt">POLDA METRO JAYA</p>
                                <p class="spkt">{{ object.jabatan|upper }}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="line-height: 20pt">
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                            <td>
                                &emsp;<br>
                                &emsp;<br>
                                &emsp;<br>
                            </td>
                        </tr>
                        <tr align="center">
                            <td><p class="spkt">{{ object.nama|upper }}</p></td>
                            <td>
                                <p class="spkt underline">{{  object.pembuat_laporan|upper }}</p>
                                <p class="spkt">{{ object.pangkat_pembuat_laporan|upper }}</p>
                            </td>
                        </tr>
                        </table>
                    
                </section>

            </page>
        </div>
        <div class="col-lg-3 ">
            <div class="card text-white bg-primary mb-3 " style="max-width: 20rem; ">
                <div class="card-header ">Siap Cetak</div>
                <div class="card-title "></div>
                <div class="card-body ">
                    <button type="button " class="btn btn-success ">Cetak Sekarang</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "assets/js/bundle.js" %}" type="text/javascript"></script>

{% endblock content %}