{% extends 'LaporanKehilangan/base.html' %}
{% load static %}
{% block content %}
        <div class="page-header">
            <div class="row" style="text-align: center;">
                <div class="col-lg-12">
                    <h1>Draft Laporan Kehilangan</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                        <div class="card-header">Kartu Informasi</div>
                        <div class="card-body">
                    <h4 class="card-title">Draft Surat Kehilangan</h4>
                    <p class="card-text">Informasi ini akan menjadi data masukkan bagi SPKT terdekat untuk mengeluarkan Surat Kehilangan.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">

<div class="card text-white bg-primary mb-3">
<div class="card-body">
<p>
    Dengan ini, saya seorang
        {% if object.kelamin|upper != "PEREMPUAN" %}
        Laki-Laki
        {% else %}
        Perempuan
        {% endif %}
     Bangsa
        {% if object.kebangsaan|upper != "WNA" %}
        Indonesia
        {% else %}
        Asing
        {% endif %}
        yang mengaku bernama:
</p>
<table>
    <tr>
        <td>Nama</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.nama|upper }}</td>
    </tr>
    <!-- Tempat dan Tanggal Lahir -->
    <tr>
        <td>Tempat tanggal lahir</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.tempat_lahir|upper }},
            {{ object.tanggal_lahir|date:"d F Y"|upper }}
        </td>
    </tr>
    <!-- Nomor Telpon -->
    <tr>
        <td>Nomor Telpon</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.nomor_telpon }}</td>
    </tr>
    <!-- Email -->
    <tr>
        <td>Alamat Email</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.email|upper }}</td>
    </tr>
    <!-- Agama -->
    <tr>
        <td>Agama</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.agama|upper }}</td>
    </tr>
    <!-- Pekerjaan -->
    <tr>
        <td>Pekerjaan</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.pekerjaan|upper }}</td>
    </tr>
    <!-- Kebangsaan -->
    <tr>
        <td>Kebangsaan</td>
        <td>&nbsp;:&nbsp;</td>
        <td>
            {% if object.kebangsaan != "WNA" %}
                INDONESIA
            {% else %}
                ASING
            {% endif %}

        </td>
    </tr>
    <!-- Alamat -->
    <tr>
        <td>Alamat</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.alamat|upper }}</td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>{{ object.kota|upper }}</td>
    </tr>
</table>

<br>

<p>
Melaporkan telah kehilangan surat / barang berupa:
</p>

<p style="white-space: pre-line">
Sebuah {{ object.jenis_barang_hilang|upper }}
{% if object.keterangan_kehilangan.strip %}
        {{ object.keterangan_kehilangan|safe }}
{% endif %}
</p>

<p>
Terjadi pada tanggal {{ object.tanggal_kehilangan|date:"d F Y" }} di {{ object.lokasi_kehilangan }}. Kerugian atas nama
    dan alamat tersebut di atas.
</p>

</div>
</div> <!-- Card -->

<br>
    <div id="pernyataan">
        <legend>Pernyataan:</legend>
        <label for="agree" class="form-check-label">
            <input id="agree" class="form-check-input" type="checkbox" value="agree" v-model="checked" title="Klik Saya">
            Dengan ini saya memastikan informasi yang saya berikan benar adanya.
        </label>
        <br>
        <br>
        <br>

<a href="{% url 'laporankehilangan:laporankehilanganuser-confirm' object.id %}"><button type="submit" class="btn btn-success btn-sm" :disabled="!checked">Kirim</button></a>
<a href="{% url 'laporankehilangan:laporankehilanganuser-update' object.id %}"><button type="submit" class="btn btn-info btn-sm">Sunting</button></a>
<a href="{% url 'laporankehilangan:laporankehilanganuser-delete' object.id %}"><button type="submit" class="btn btn-danger btn-sm">Batal</button></a>
   </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Development Package of Vue
    <script src="http://vuejs.org/js/vue.js" type="text/javascript"></script>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" type="text/javascript"></script>
-->
    <script src="{% static "LaporanKehilanganUser/js/bundle.js" %}" type="text/javascript"></script>
{% endblock %}

