{% extends 'LandingPage/base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-dismissible alert-warning">
        <!--
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        -->
        <h4 class="alert-heading">Konfirmasi</h4>
        <form action="" method="post">{% csrf_token %}
        <h1>Anda yakin ingin membatalkan Laporan?</h1>
        <button type="submit" class="btn btn-danger btn-lg">Batal</button>
        <button onclick="window.history.back();" type="button" class="btn btn-success btn-lg">Tidak</button>

        </form>
        </div>
    </div>
</div>

{% endblock %}
