{% extends 'LaporanKehilanganUser/base.html' %}
{% load static %}
{% load qr_code %}
{% block content %}
        <div class="page-header">
            <div class="row" style="text-align: center;">
                <div class="col-lg-12">
                    <h1>{% if object.is_approved %}
                        Approved
                        {% else %}
                        Draft
                        {% endif %}
                        Laporan Kehilangan</h1>
                </div>
            </div>
        </div>
        <br>
        <div class="bs-docs-section">
                <h3 class="text-white" contenteditable="true">Dear, {{ object.nama|upper }}</h3>
                <p class="lead">Anda telah berhasil membuat Laporan Kehilangan Anda pada {{ object.created_at|date:"d F Y H:m T" }}. 
                    Berikut adalah tiket laporan anda. Silahkan anda menuju kantor SPKT terdekat dan menunjukan e-tiket ini agar laporan anda dapat ditindaklanjuti. </p>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;">
                        
                        <div class="card-header" style="text-align: center">
                        {% if object.is_valid %}
                            <span class="badge badge-success">Valid</span>
                        {% else %}
                            <span class="badge badge-danger">Invalid</span>
                        {% endif%}
                        {% if object.is_approved %}
                            <span class="badge badge-success">Approved</span>
                        {% else %}
                            <span class="badge badge-warning">Draft</span>
                        {% endif%}
                        QR Code<h1>{{ object.hash_field }}</h1></div>
                        <div class="card-body" style="padding: 0rem">
                        {% qr_from_text object.id size="M" %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">

<div class="card text-white bg-primary mb-3">
<div class="card-body">
</p>
Dengan ini, saya seorang
        {% if object.kelamin|upper != "PEREMPUAN" %}
        Laki-Laki
        {% else %}
        Perempuan
        {% endif %}
     Bangsa
        {% if object.kebangsaan|upper != "WNA" %}
        Indonesia
        {% else %}
        Asing
        {% endif %}
        yang mengaku bernama:
</p>
<table>
    <tr>
        <td>Nama</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.nama|upper }}</td>
    </tr>
    <!-- Tempat dan Tanggal Lahir -->
    <tr>
        <td>Tempat tanggal lahir</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.tempat_lahir|upper }},
            {{ object.tanggal_lahir|date:"d F Y"|upper }}
        </td>
    </tr>
    <!-- Nomor Telpon -->
    <tr>
        <td>Nomor Telpon</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.nomor_telpon }}</td>
    </tr>
    <!-- Email -->
    <tr>
        <td>Alamat Email</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.email|upper }}</td>
    </tr>
    <!-- Agama -->
    <tr>
        <td>Agama</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.agama|upper }}</td>
    </tr>
    <!-- Pekerjaan -->
    <tr>
        <td>Pekerjaan</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.pekerjaan|upper }}</td>
    </tr>
    <!-- Kebangsaan -->
    <tr>
        <td>Kebangsaan</td>
        <td>&nbsp;:&nbsp;</td>
        <td>
            {% if object.kebangsaan != "WNA" %}
                INDONESIA
            {% else %}
                ASING
            {% endif %}

        </td>
    </tr>
    <!-- Alamat -->
    <tr>
        <td>Alamat</td>
        <td>&nbsp;:&nbsp;</td>
        <td>{{ object.alamat|upper }}</td>
    </tr>
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>{{ object.kota|upper }}</td>
    </tr>
</table>

<br>

<p>
Melaporkan telah kehilangan surat / barang berupa:
</p>

<p style="white-space: pre-line">
{{ object.jenis_barang_hilang|upper }}
{% if object.keterangan_kehilangan.strip %}
        {{ object.keterangan_kehilangan|safe }}
{% endif %}
</p>

<p>
Terjadi pada tanggal {{ object.tanggal_kehilangan|date:"d F Y" }} di {{ object.lokasi_kehilangan }}. Kerugian atas nama
    dan alamat tersebut di atas.
</p>

</div>
</div> <!-- Card -->

<br>
                    </div>
                </div>
            </div>
        </div>
    <!-- Development Package of Vue
    <script src="http://vuejs.org/js/vue.js" type="text/javascript"></script>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" type="text/javascript"></script>
-->
    <script src="{% static "LaporanKehilanganUser/js/bundle.js" %}" type="text/javascript"></script>
{% endblock %}

