{% extends 'LaporanKehilanganUser/base.html' %} {% load qr_code %} {% block content %}
<div class="page-header">
    <div class="row" style="text-align: center;">
        <div class="col-lg-12">
            <h1>QR Code</h1>
        </div>
    </div>
</div>
<br>
<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-3">
            <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                <div class="card-header">Kartu Informasi</div>
                <div class="card-body">
                    <h4 class="card-title">QR Code</h4>
                    <p class="card-text">
                        Ini adalah QR Code. Informasi lebih lanjut sudah di email ke alamat email Anda. Cek email Anda and bawa QR Code ini ke Kantor
                        Polisi untuk memproses laporan Anda lebih lanjut.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="text-align: center">

            <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;">
                <div class="card-body">
                    {% qr_from_text pk size="M" %}
                </div>
            </div>
            <h1>{{ hf }}</h1>
            <!--
                        <h5>{{ pk }}</h5>
                        -->
            <a href="{% url 'landingpage:landingpage-index' %}">
                <button class="btn btn-primary btn-lg">Kembali Ke Halaman Awal</button>
            </a>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
</div>
<script>
    /* break back button */
    window.onload = function () {
        var i = 0;
        var previous_hash = window.location.hash;
        var x = setInterval(function () {
            i++;
            window.location.hash = "/noop/" + i;
            if (i == 99) {
                clearInterval(x);
                window.location.hash = previous_hash;
            }
        }, 10);
    }
</script>
{% endblock %}