p.spkt {
    color: black;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
}

p.spkt.underline {
    color: black;
    text-decoration: underline;
}

p.spkt.overline {
    color: black;
    text-decoration: overline;
}

p.spkt.strong {
    font-weight: bold;