
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>SPKT</title>
  <link href="https://bootswatch.com/4/slate/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-1 bg-secondary">
          <img class="d-block mx-auto img-fluid" src="http://spkt.id/lambang_polda_metro_jaya.png">
        </div>
        <div class="col-md-11 bg-secondary">
          <h1 class="text-light text-left p-2">SENTRA PELAYANAN KEPOLISIAN TERPADU</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="page-header">
      <div class="row" style="text-align: center;">
        <div class="col-lg-12">
          <h1 class="text-uppercase"> Draft Laporan Kehilangan</h1>
        </div>
      </div>
    </div>
    <br>
    <div class="bs-docs-section">
      <h3 class="text-white" contenteditable="true">Dear, {{ object.nama|upper }}</h3>
      <p class="lead">Anda telah berhasil membuat Laporan Kehilangan anda. Berikut adalah tiket laporan anda. Silahkan anda menuju kantor SPKT terdekat dan menunjukan e-tiket ini agar laporan anda dapat di tindak-lanjuti. </p>
      <div class="row">
        <div class="col-lg-3">
          <div class="card bg-light mb-3 mx-auto" style="max-width: 20rem;">
            <div class="card-header" style="text-align: center"> <span class="badge badge-success">Valid</span> <span class="badge badge-warning">Draft</span> QR Code
              <h1>765970834</h1>
            </div>
            <div class="card-body" style="padding: 0rem">
            <!--
            <img src="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% qr_url_from_text "{{ pk }}" size="M" version=3 image_format='png' %}"> 
            -->
            <img src="http://server2.saltis.id:8000{% qr_url_from_text "{{ pk }}" size="M" version=3 image_format='png' %}"> 
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card">
            <div class="card-body">
            <p>
            Dengan ini, saya seorang 
                    {% if object.kelamin|upper != "PEREMPUAN" %}
                        Laki-Laki
                    {% else %}
                        Perempuan
                    {% endif %}
                     Bangsa 
                    {% if object.kebangsaan|upper != "WNA" %}
                        Indonesia
                    {% else %}
                        Asing
                    {% endif %}
             yang mengaku bernama:
              </p>
              <table>
                <tbody>
                  <tr>
                    <td>Nama</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ object.nama|upper }}</td>
                  </tr>
                  <!-- Tempat dan Tanggal Lahir -->
                  <tr>
                    <td>Tempat tanggal lahir</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ object.tempat_lahir|upper }},
                        {{ object.tanggal_lahir|date:"d F Y"|upper }}
                    </td>
                  </tr>
                  <!-- Nomor Telpon -->
                  <tr>
                    <td>Nomor Telpon</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ object.nomor_telpon }}</td>
                  </tr>
                  <!-- Email -->
                  <tr>
                    <td>Alamat Email</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ object.email|upper }}</td>
                  </tr>
                  <!-- Agama -->
                  <tr>
                    <td>Agama</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ object.agama|upper }}</td>
                  </tr>
                  <!-- Pekerjaan -->
                  <tr>
                    <td>Pekerjaan</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ object.pekerjaan|upper }}</td>
                  </tr>
                  <!-- Kebangsaan -->
                  <tr>
                    <td>Kebangsaan</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                    {% if object.kebangsaan != "WNA" %}
                        INDONESIA
                    {% else %}
                        ASING
                    {% endif %}
                    </td>
                  </tr>
                  <!-- Alamat -->
                  <tr>
                    <td>Alamat</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>{{ object.alamat|upper }}</td>
                  </tr>
                  <tr>
                    <td> &nbsp; </td>
                    <td> &nbsp; </td>
                    <td>{{ object.kota|upper }}</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <p> Melaporkan telah kehilangan surat / barang berupa: </p>
              <p style="white-space: pre-line">
                {{ object.jenis_barang_hilang|upper }}
                {% if object.keterangan_kehilangan.strip %}
                    {{ object.keterangan_kehilangan|safe }}
                {% endif %}
              </p>
              <p> Terjadi pada tanggal {{ object.tanggal_kehilangan|date:"d F Y" }} di {{ object.lokasi_kehilangan }}. Kerugian atas nama dan alamat tersebut di atas. </p>
            </div>
          </div>
          <!-- Card -->
          <br> </div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <footer id="footer">
    <div class="container-fluid">
      <div class="row" style="text-align: center">
        <div class="col-lg-12">
          <p>Power by
            <a href="http://saltis.id/">Saltis</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>